# Version Control
.svn

# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/
/tags
.netbeans.xml

# Compass/SASS/SCSS
.sass-cache
sassdoc
scss-lint-report.xml

# Other
node_modules

/vendor/
/release/

config.codekit

/app/content/plugins
/app/content/uploads
/app/content/upgrade
/app/vendor
/app/web
#!/app/content/themes

/data/*
!/data/.gitkeep
/logs/*
!/logs/.gitkeep
notes.md